<div class="col-md-6 mr-auto" id="participant_side" style="background-color: rgba(0,255,0,0.1);">

	<div class="side_init_text text-center" id="participant_side_init_text">
		<div id="participant_side_init_title" class="h1">I'm a Participant/Co-Designer
		</div>
		<div class="small" id="participant_side_init_message">Click here if you participating in a design session</div>
		
	</div>
	<div id="participant_side_meetings">
	</div>

	<div class="col-md-12" id="participant_side_form">
		<div class="row">
		<h2>Enter the meeting details</h2>
			<form class="form-horizontal" id="participant_meeting_form">
                <div class="form-group">
                    <input type="text" name="display_name" id="participant_display_name" value="" placeholder="User Name" class="form-control" required>
                </div>
                <div id="participant_meeting_buttons"></div>
            </form>
        </div>
        
		</div>
</div>