<div class="col-md-6 mr-auto" id="participant_side" style="background-color: rgba(0,255,0,0.1);">

	<div class="side_init_text text-center" id="participant_side_init_text">
		<div class="h1">Participant/Co-Designer
		</div>
		<div class="small" id="participant_side_init_message">Click here if you participating in a design session</div>
		
	</div>

</div>