<div class="col-md-6 mr-auto" id="researcher_side" style="background-color: rgba(0,0,255,0.1);">
		<div class="side_init_text text-center" id="researcher_side_init_text">
			<div id="researcher_side_init_title" class="h1">I'm a Researcher/Primary Designer
			</div>
			<div class="small" id="researcher_side_init_message">Click here if you conducting a design session</div>
		</div>

		<div class="col-md-12" id="researcher_side_form">
		<div class="row">
		<h2>Enter the meeting details</h2>
			<form class="form-horizontal" id="researcher_meeting_form">
                <div class="form-group">
                    <h4> User's Name </h4>
                    <input type="text" name="display_name" id="display_name" value="" placeholder="User Name" class="form-control" required>
                    <input type="hidden" name="display_email" id="display_email" value="" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <h4> Set Meeting Name </h4>
                    <input type="text" name="meeting_number" id="meeting_number" value="" placeholder="Set Meeting Name" class="form-control">
                    <input type="hidden" name="meeting_password" id="meeting_password" value="" placeholder="Set Meeting Password (leave blank if no password required)" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary" id="start_meeting">Create Meeting (as primary host)</button>
                <hr>

                <div class="container row">
                <div id="researcher_side_meetings"></div>
                <div id="researcher_meeting_buttons"></div>
                </div>
            </form>
        </div>
        <div id="remote_design_buttons">
        </div>
		</div>
</div>