<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Detect nearby PiRD devices with Bluetooth
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div id="device-select">
          <button id="device-select-btn" type="button" class="btn btn-primary btn-lg btn-block">
            Select a Device
          </button>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Connect the detected PiRD device to WiFi
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div id="wifi-select">
            <button id="connect-wifi-btn" type="button" class="btn btn-primary">Click here to connect the remote design system to WiFi</button>
            <form>
              <div class="form-group row">
                  <label for="exampleFormControlSelect1">Select a WiFi network for the remote collab system</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="WiFiSelectOptions">
                      <option>None found yet</option>
                    </select>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
              </div>
            </form>
            <button id="wifi-submit-btn" type="button" class="btn btn-primary">Login</button>
          </div>
      </div>
    </div>
  </div>
</div>