<!DOCTYPE html>
<head>
    <title>ParticipateInRemoteDesign</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="node_modules/@zoomus/websdk/dist/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="node_modules/@zoomus/websdk/dist/css/react-select.css" />

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<%- include('navbar') %>
<div class="container-fluid">
  <div class="row" id="main_view">
  	<%- include('participant_side') %>
  	<%- include('researcher_side') %>
  </div>
  <div class="row" id="mtg-root">
  </div>
  <div class="row" id="custom_buttons">
    
  </div>
</div>

<script src="node_modules/react/umd/react.production.min.js"></script>
<script src="node_modules/react-dom/umd/react-dom.production.min.js"></script>
<script src="node_modules/redux/dist/redux.min.js"></script>
<script src="node_modules/redux-thunk/dist/redux-thunk.min.js"></script>
<script src="node_modules/lodash/lodash.min.js"></script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>

<script src="../dist/index.min.js"></script>
</body>
</html>